.formControl.error input,
.formControl.error textarea
{
    border-color: red;
    box-shadow: 0 0 5px red;
}

.formControl.error span
{
    color: red;
    margin-bottom: 2000px;
}

.formSummaryError {
    /*padding: 5px;*/
    color: red;
}