.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonMain{
    margin: 20px;
}