.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerLogin{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.checkboxWrapper{
    display: flex;
}

.checkboxWrapper span{
    font-size: 1em;
    color: #A0A0A0;
}

.createNew a{
    color: #798082;
    font-size: 1em;
    transition: .2s;
}

.createNew a:hover{
    color: #373A3B;
    font-size: 1em;
}