body{
    height: 100%;
    background-color: #F4F7FD;
    font-family: "Source Sans Pro";
}

*{
	margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}