.app-wrapper{
  background-position: center;
}

.button{
  margin-top: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #43425d;
  font-size: 1.3em;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: .4s;
  cursor: pointer;
  outline: none;
}

.button:hover{
  background-color: #37374e;
}

.header{
  font-family: FUN_SANS;
  font-size: 3.5em;
}

.form{
  width: 350px;
}

.fieldWrapper{
  width: 100%;
}


.fieldWrapper input{
  display: block;
  width: 100%;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px 10px;
  color: #000;
  font-size: 1em;
  transition: .3s;
  outline: none;
  box-sizing: border-box;
}

.fieldWrapper input::placeholder{
  color: #A0A0A0;
}

.fieldWrapper input:focus{
  border-color: #fff;
  box-shadow: 0 0 5px #fff;
}

.checkboxWrapper span{
  font-size: 1em;
  color: #A0A0A0;
}

.Navbar {
  width: 100vw;
  height: 70px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: space-around; */
}

.Logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
}

.Logo img{
  height: 40px;
}

.Logo p{
  margin-left: 20px;
  white-space: pre;
  font-size: 20px;
  font-weight: bold;
}

.Username {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #4d4f5c;
  white-space: pre;
}

.Chevron{
  width: 11px;
  height: 7px;
}

.chevron::before {
border-style: solid;
border-width: 0.2em 0.2em 0 0;
content: '';
display: inline-block;
height: 0.45em;
left: 0.15em;
position: relative;
top: 0.15em;
transform: rotate(135deg) scale(0.7);
vertical-align: top;
  width: 0.45em;
  color: #a4afb7;
}

.Profile{
  margin-right: 50px;
  /*min-width: 150px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-child {
  position: absolute;
  font-family: "Source Sans Pro";
  font-size: 15px;
  left: 60%;
  top: 45px;
display: none;
  min-width: 65px;
  padding: 10px 5px 10px 5px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.5em;

}

.dropdown-child > * {
  color: #ff6565;
  text-decoration: none;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.Avatar-profile *  {
  /* margin-right: 16px; */
  width: 38px;
  height: 38px;
  border-radius: 50px;
  margin-left: 10px;
}

.AllRooms {
  height: 100%;
  width: 25%;
  min-width: 350px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}


.Main {
  display: flex;
  align-items: center;
}

.Picture {
  width: 50vw;
  height: 100vh;
  background: rgb(36,35,72);
  /* background: linear-gradient(180deg, rgba(36,35,72,1) 0%, rgba(87,83,181,1) 100%); */
  /* background-image: linear-gradient(40deg, #5c6ccd, #5753b5 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.LineGraph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LineGraph img{
  /* height: 50vh; */
  max-width: 80%;
  /* max-height: 100%; */
}

.MainForm {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainFormBody {
  height: 50vh;
  width: 45%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.ChatName {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 5px;
  text-align: center;
  color: #43425d;
}

.ChatName *{
  margin: 0;
}

.Welcome {
  opacity: 0.5;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
  line-height: 1;
}

.Inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Inputs > div{
  width: 100%;
  height: 100%;
}

.Inputs input:not([type="checkbox"]){
  width: 100%;
  height: 35px;
  padding: 0 7px;
  border-width: 0 0 3px 0;
  border-color: #f0f0f7;
  font-size: 15px;
  margin-bottom: 7px;
  box-sizing: border-box;
}

.Inputs input::placeholder {
  color: #43425d;
}

.Inputs input:focus {
  outline: none;
  border-color: #a3a0fb;
  transition: border-color 0.3s ease-in-out;
}

.Remember {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Remember * {
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

.RememberMe {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RememberMe * {
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  white-space: pre;
}

.RememberMe div div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginRegister {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.Login {
  width: 45%;
  height: 50px;
  border-radius: 4px;
  background-color: #43425d;
  border: none;
  color: #fff;
  outline: none;
  font-size: 18px;
}

.SignUp {
  width: 45%;
  height: 50px;
  border-radius: 4px;
  background: none;
  border: solid 1px #43425d;
  outline: none;
  color: #4d4f5c;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login:active {
  background-color: #2f2e50;
}

.SignUp:active {
  color: #2f2e50;
  border: solid 2px #2f2e50;
}

.SignUpButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.ComeBack * {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #43425d;
}

.MainFormBodyRegister {
  height: 55vh;
  width: 45%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}